.nameTextField{
    position: absolute;
    width: 270px;
    height: 33px;
    left: 50px;
    top: 120px;
    background: #FFFFFF;
    box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
    border-radius: 24px;
    border-color: #d5e4f1;
    }
    .profileTitle{
        text-align-last: center;
        color: black;
        font-weight: 500;
    }
  
    .paper{
    position: absolute;
    width: 780px;
   background-color: white;
    border: '2px solid #000';
top:50%;
padding:4px 20px 4px;
    }
    /* .light-mode{
        background-color: white;
        color:black;
    }
    .dark-mode{
        background-color:rgb(31, 30, 30);
        /* color: white; */
    /*} */
    
    .name{
         position: absolute;
    width: 52px;
    height: 25px;
    left: 50px;
    top: 85px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    }
    
   
    .emailTextField{
    position: absolute;
    width: 270px;
    height: 33px;
    left: 50px;
    top: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
    border-radius: 24px;
    border-color: #d5e4f1;
    }
    
    .email{
        position: absolute;
        width: 52px;
        height: 25px;
         left: 50px; 
        top: 180px;
        text-align-last: left;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    .modalTextArea{
        height:400px;
        width:730px;
        }
    .tags{
        float: right;
    }
    
    .profileTextField{
        position: absolute;
        width: 170px;
        height: 33px;
        left: 50px;
        top: 300px;
        background: #FFFFFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #d5e4f1;
    }
    .selectImage{
        position: absolute;
        width: 170px;
        height: 33px;
        left: 210px;
        top: 310px;
    
    }
    .sel{
        color: #289CFF;
        font-weight: bold;
        width: 270px;
        height: 25px;
        margin-top: 140px;
        margin-left:50px;
        border-radius: 24px;
    }
    .upload{
        position: absolute;
        width: 100px;
        height: 38px;
        left: 10px;
        top: 370px;
        background: #289CFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #289CFF;
    }
    
    .profile{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 50px;
    top: 270px;
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
    }
    
    .button{
    position: absolute;
    width: 100px;
    height: 38px;
    left: 230px;
    top: 370px;
    background: #289CFF;
    box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
    border-radius: 24px;
    border-color: #289CFF;
    }
    
    .card{
        /* position: absolute; */
    width: 380px;
    height: 450px;
    /* left: 704px;
    top: 236px; */
    
    position: relative;
    top: 250px;
    left: 40%;
    margin-top: -100px;
    margin-left: -100px;
    background: #FFFFFF;
    box-shadow: 0px 0.4px 4px rgba(11, 14, 15, 0.3);
    border-color: black;
    border-radius: 10px;
    }
    
    .cre{
        position: absolute;
    width: 112px;
    height: 36px;
    left: 140px;
    top: 0px;
    
    /* font-family: Noto Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 49px;
    
    color: #3F3F3F;
    
    }
    .searchTextField{
        position: absolute;
        width: 200px;
        height: 33px;
        left: 600px;
        top: 35px;
        background: #FFFFFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #d5e4f1;
    }
    .searchTextField1{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 600px;
        top: 35px;
        background: #FFFFFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #d5e4f1;
    }
    
    .no{
        position: absolute;
    width: 112px;
    height: 36px;
    left: 179px;
    top: 0px;
    
    /* font-family: Noto Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 49px;
    
    color: #289CFF;
    
    }
    
    .Search{
    position: absolute;
    width: 146px;
    height: 38px;
    left: 820px;
    top: 35px;
    color: white;
    border-color: #289CFF;
    background: #289CFF;
    box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
    border-radius: 24px;
    }
    .Search1{
        position: absolute;
        width: 146px;
        height: 40px;
        left: 820px;
        top: 35px;
        color: white;
        border-color: #289CFF;
        background: #289CFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        }
    .delete{
        color: white;
        background: #929292;
        border-radius: 40px;
        width: 146px;
        height: 38px;
    }
    .save{
        color: white;
        background: #289CFF;
        border-radius: 40px;
        width: 146px;
        border-color: #289CFF;
    height: 38px;
    }
    .userProfile{
        position: absolute;
        width: 200px;
        height: 33px;
        left: 1150px;
        top: 35px;
        background: #FFFFFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #d5e4f1;
    }
    .avatar{
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left:50px;
    }
    
    .image{
       position: absolute;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left:1320px;
        top:30px;
    }
    .userProfile1{
        position: absolute;
        width: 200px;
        height: 33px;
        left: 1150px;
        top: 35px;
        background: #FFFFFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        border-color: #d5e4f1;
    }
    .avatar1{
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left:50px;
    }
    
    .image1{
       position: absolute;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left:1320px;
        top:30px;
    }
    
    .logout{
        position: absolute;
        width: 110px;
        height: 40px;
        left: 1400px;
        top: 35px;
        color: white;
        border-color: #289CFF;
        background: #289CFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
    }
    .newNote{
        position: absolute;
        width: 190px;
        height: 40px;
        left: 1300px;
        top: 130px;
        color: white;
        border-color: #289CFF;
        background: #289CFF;
        box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
        border-radius: 24px;
        }
    
    @media(max-width: 425px){
        .modalTextArea{
            height:200px;
            width:350px;
            }
        .paper{
            position: absolute;
            width: 400px;
           background-color: white;
            border: '2px solid #000';
        top:40%;
        margin-bottom: 10px;
        padding:4px 20px 4px;
            }
        .newNote{
            position: absolute;
            width: 150px;
            height: 35px;
            left: 130px;
            top: 175px;
            color: white;
            border-color: #289CFF;
            background: #289CFF;
            box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
            border-radius: 24px;
            }
        .logout{
            position: absolute;
            width: 60px;
            height: 30px;
            left: 330px;
            top: 10px;
            color: white;
            border-color: #289CFF;
            background: #289CFF;
            box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
            border-radius: 24px;
        }
        .cre{
        /* position: absolute; */
        /* width: 12px; */
        height: 36px;
        left: 0px;
        top: 10px;
        /* font-family: Noto Sans; */
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 0px;
    
        color: #3F3F3F;
    
        }
    
        .no{
            /* position: absolute;
        width: 112px; */
        height: 36px;
        left: 25px;
        top: 10px;
    
        /* font-family: Noto Sans; */
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 0px;
    
        color: #289CFF;
    
        }
        .searchTextField{
            position: absolute;
            width: 80px;
            height: 23px;
            left: 100px;
            top: 10px;
            background: #FFFFFF;
            box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
            border-radius: 24px;
            border-color: #d5e4f1;
         
        }
        .searchTextField1{
            display: none;
            position: absolute;
            width: 100px;
            height: 15px;
            left: 115px;
            top: 10px;
            background: #FFFFFF;
            box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
            border-radius: 24px;
            border-color: #d5e4f1;
        }
    
        .Search{
            position: absolute;
            width: 60px;
            height: 23px;
            left: 185px;
            top: 10px;
            color: white;
            border-color: #289CFF;
            background: #289CFF;
            box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
            border-radius: 24px;
            }
            .Search1{
                position: absolute;
                width: 60px;
                height: 35px;
                display: none;
                left: 240px;
                top: 10px;
                color: white;
                border-color: #289CFF;
                background: #289CFF;
                box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
                border-radius: 24px;
                }
    
            .userProfile{
                position: absolute;
                width: 60px;
                height: 23px;
                left: 195px;
                top: 10px;
                background: #FFFFFF;
                box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
                border-radius: 24px;
                border-color: #d5e4f1;
            }
            .avatar{
                vertical-align: middle;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                left:30px;
            }
    
            .image{
               position: absolute;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                left:250px;
                top:10px;
            }


            .userProfile1{
                position: absolute;
                width: 60px;
                height: 23px;
                left: 220px;
                top: 10px;
                background: #FFFFFF;
                box-shadow: 0px 0.4px 4px rgba(40, 156, 255, 0.3);
                border-radius: 24px;
                border-color: #d5e4f1;
                display: none;
            }
            .avatar1{
                vertical-align: middle;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                left:40px;
            }
    
            .image1{
               position: absolute;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                left:270px;
                top:10px;
            }




            .card{
                /* position: absolute; */
            width: 380px;
            height: 450px;
            /* left: 704px;
            top: 236px; */
    
            position: relative;
            top: 250px;
            left: 31%;
            margin-top: -100px;
            margin-left: -100px;
            background: #FFFFFF;
            box-shadow: 0px 0.4px 4px rgba(11, 14, 15, 0.3);
            border-color: black;
            border-radius: 10px;
            }
    
    
    
    
    
    
    
    
    }